ENV=ANYTHING
TOKEN=6112345:AAAAAAAAA-NBBBBBBBBBBBBBBB
OWNER_ID=601234567
OWNER_USERNAME=username
MESSAGE_DUMP=-10012345567
LOAD=
NO_LOAD=translation afk backups rss
WEBHOOK=ANYTHING
SUDO_USERS=601234567
SUPPORT_USERS=
WHITELIST_USERS=
DONATION_LINK=https://...
URL=https://111.22.33.44:8080/
PORT=8080
CERT_PATH=/path/to/cert.pem
DEL_CMDS=False
WORKERS=8
BAN_STICKER=CAACAgIAAxkBAAICY2LjiLy5MXdQxzxfXCM7NvySAAHNnQACiZ8AAmOLRgzGClmM2OBu9SkE
ALLOW_EXCL=False

POSTGRES_USER=dbuser
POSTGRES_PASSWORD=password
POSTGRES_DB=chatcomm

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db/${POSTGRES_DB}"